name: Test

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

permissions:
  contents: read

env:
  CGO_ENABLED: "1"

jobs:
  test:
    runs-on: macos-14
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      - run: go build ./...
      - run: go vet ./...
      - run: go test -race ./...
